.Search__button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .25s ease-out;
    background-color: none;
    border: 0;
    background-image: linear-gradient(-48deg, #FC719E 0%, #F99E7A 100%);

    -webkit-appearance: none;

    position: relative;
}

.Search__button svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}